// Import bootstrap
@import 'bootstrap-sprockets';
@import 'bootstrap';

// ===== Universal Styles =====
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

.notice {
  color: green;
}

// ===== Header / Logo =====
#logo {
  float: left;
  padding-top: 9px;
  margin-right: 10px;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #fff;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

// ===== Locale Switcher =====
.locale-switcher {
  margin: 20px 0;
  text-align: right;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        font-weight: bold;
        margin: 0 5px;
      }
    }
  }
}
